<h1>Friends List App</h1>
<p> This app is creat a list of Friends with phone no., email address and twitter handel</p>
<h2>Follow these steps for use this </h2>
<h4>1.Create Account</h4>
<h4>2.Log in</h4>
<h4>3.click on New Friends button and creat new friend </h4>
<h4>4.click on back to friend and see table </h4>
<h4>5.if want to edit click on edit </h4>
<h4>6. if want to delete click on delete</h4>


